@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.hide {
    display: none;
}

nav {
    font-family: 'Acme', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 17px 37px;
}



nav h2 {

    font-size: 44px;
    color: #d4f9ff;
}

.searchBox {
    display: flex;
    align-items: center;
    gap: 16px;
}

.searchIcon {
    color: #ffffff;
    font-size: 20px;
    background: #f1f1f17a;
    padding: 5px 20px;
    border-radius: 19px;
}

.searchBox input::placeholder {
    color: rgba(255, 255, 255, 0.574);
    font-style: italic;
}

.searchBox input {
    outline: none;
    border: none;
    width: 440px;
    border-bottom: 3px solid white;
    font-size: 20px;
    background: transparent;
    color: rgba(255, 255, 255, 0.726);

}

.corner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 252px;
    gap: 20px;
}

.author {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.time p {
    font-size: 25px;
    color: white;
}

.corner img {
    width: 45px;
    border-radius: 50%;
}

.linkContainer {
    position: relative;
}

.links {
    z-index: 1;
}

.cross {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0 33px 0 0;

}

.cross svg {
    background: #ffffff;
    padding: 2px;
    border-radius: 50%;
}

.links {
    position: absolute;
    left: -90px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 150px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.141), rgba(137, 137, 137, 0.313));
}

.links a {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    /* background-color: #000000; */
    width: 130px;
    transition: 0.5s;
}

/* a:hover */
svg {
    transition: ease-in .3s;
}

.anchorFB:hover svg {
    color: rgb(23, 104, 255);
    font-size: 30px;
}

.anchorWP:hover svg {
    color: rgb(0, 255, 106);
    font-size: 30px;
}

.anchorPF:hover svg {
    color: rgb(23, 104, 255);
    font-size: 30px;
}

.linkIcon {
    font-size: 26px;
}

@media screen and (max-width: 533px) {
    nav {
        flex-direction: column;
        gap: 20px;
    }

    .searchBox {
        display: none;
    }


}

@media screen and (max-width:959px) {
    .searchBox {
        display: none;
    }
}

@media screen and (min-width: 960px) and (max-width:1090px) {
    .searchBox {
        width: 40%;
    }

    .searchBox input {
        width: 90%;
    }
}

@media screen and (min-width: 501px) and (max-width: 1120px) {
    nav {
        gap: 20px;
    }

}