@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.container {
    position: relative;
    width: 533px;
    height: 588px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 45px;
    font-family: 'Inter', sans-serif;
    color: white;
    background: linear-gradient(rgb(255 255 255 / 31%), rgb(246 246 246 / 40%));
    margin: auto;
    overflow: hidden;

}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 33px 0 33px;
}

.top p{
    font-size: 20px;
}
.temp{
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}
.celcius{
    font-size: 187px;
    line-height: 161px;
}

.celcius sup{
    font-size: 50px;
}

.city{
    font-size: 36px;
}

.flex-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.thermoMeter{
    font-size: 130px;
    opacity: 0.7;
}

.min-max{
    display: flex;
    flex-direction: column;
    gap: 6px;
    opacity: 0.7;
}

.hero-box{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 46px;
}

.icon-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.bottom div{
    display: flex;
    justify-content: space-around;
}

.wave{
    position: relative;
    bottom: 109px;
    overflow: hidden;
    z-index: -1;
    width: 100%;
}
.wave img{
    width: 100%;
}